# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Data and artifacts
#data/raw/*
#!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
# data/processed/*
# !data/processed/.gitkeep
data/models/*
!data/models/.gitkeep
reports/*
!reports/.gitkeep
images/*
!images/.gitkeep

# Environment
.env

# VS Code
.vscode/

# System Files
.DS_Store
